._sidePanel {
    position: absolute;
    top: 15px;
    right: 24px;
    width: 156px;
    height: 192px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: #e3f2ff;
    border-radius: 13px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.dateText {
    font-family: "Pretendard-Regular", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    white-space: nowrap;
}

.timeText {
    font-family: "Pretendard-Bold", Helvetica, Arial, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    white-space: pre-line;
}

.weatherWrapper {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.weatherTemp {
    font-size: 20px;
    font-weight: 600;
}

.weatherDesc {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.weatherIcon {
    width: 24px;
    height: 24px;
}
